/* app css stylesheet */

*{
  color: #f9f3ff;
  /*background-color: #292b2c;*/
  border-radius: 0 !important;
  /*background-image: url("images/background.jpg");*/
}

a{
  color: #0275d8;
}

html, body{
  height: 100%;
  background-image: url("images/background.jpg");
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

header{
  height: 10rem;
  /*background-color: #292b2c;*/
  color: #f9f3ff;
  padding: 1rem 1rem 1rem 1rem;
}

/*.title{*/
  /*!*text-align: left;*!*/
  /*display: inline;*/
  /*color: azure;*/
  /*!*font-size: 5rem;*!*/
  /*!*margin-left: 4rem;*!*/
  /*!*margin-right: 4rem;*!*/
  /*!*margin-bottom: 0;*!*/
/*}*/

/*.title>h1{*/
  /*font-size: 5rem;*/
  /*text-align: left;*/
/*}*/

/*.title*/

/*.login{*/
  /*padding-top: 2rem;*/
  /*float: right;*/
/*}*/

.bd-footer{
  /*background-color: #292b2c;*/
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-right: 5rem;
}

.bd-footer-links li{
  list-style: none;
  display: inline;
  padding-right: 1rem;
}

.placeholders{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.color-1{
  background-color: royalblue;
}

main{
  padding: 3rem 1rem;
}

main > h1, h2, h3, h4, h5, h6{
  padding-left: 2rem !important;
  /*margin-bottom: 2rem !important;*/
}

.navbar-inverse{
  border-bottom: 0.01rem solid rgba(0, 228, 255, 0.69);
  background-color: transparent !important;
}

footer>.container>p{
  color: azure !important;

}

.flex-column{
  padding-bottom: 2rem;
  /*padding-top: 2rem;*/
}

.nav-item{
  text-align: left !important;
}

.row{
  padding-top: 2rem !important;
  padding-top: 2rem !important;
}

.nav-item>ul{
  padding-top: 0.5rem;
}

.form-login{
  /*background-color: #292b2c;*/
  padding: 3rem;
  /*color: azure;*/
}

.form-login > input{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center{
  margin: auto;
}

.checkbox{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.login-item{
  color: #00ffc9 !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  font-size: 1rem;
  /*background-color: #252729;*/
  margin-left: 1rem;
  margin-right: 1rem;
  /*border-left: 1px solid white;*/
  font-weight: bold;
}

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #292b2c;*/
}


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

/*.sidebar.affix-top {*/
  /*position: static;*/
/*}*/

/*#sidebar.affix {*/
  /*position: fixed;*/
  /*top: 80px;*/
/*}*/

.product-img{
  width: 200px;
  height: 250px;
}